@{
    ViewBag.Title = "Contact";
}
<h2>Joel Pineda</h2>
<h3>Que hizo Joel</h3>

<ul>
    <li>El diseño😎</li>
    <li>La base de datos</li>
    <li>La funcionalidad del Estudiante👨‍🎓</li>
    <li>La funcionalidad del Profesor👨‍💼</li>
    <li>La funcionalidad de Materia🐱‍👓</li>
</ul>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">joelpinedabeltre815@gmail.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>