@model List<WebAppCRUD.Models.ViewModel.ListTablaViewModel>
@{
    ViewBag.Title = "Mis datos";
}


<style>
    th {
        background: #1861ac;
        color: #ffffff;
    }

    tr {
        background: #8d6986;
        color: #000000;
    }
</style>
<h1>Listado de Materia UNAPEC</h1>

<div class="container" style="margin-top:22px">
   
    <div class="row col">
        <div class="table-responsive">
            <table class="table-condensed table-bordered table-hover">
                <thead>
                    <tr>
                        <th>Matricula</th>
                        <th>Nombre</th>
                    
                        <th>Acciones</th>
                    </tr>

                </thead>
                <tbody>
                    @foreach (var oElemento in Model)
                    {
                        <tr>
                            <td>@oElemento.Matricula</td>
                            <td>@oElemento.Nombre</td>
                           
                            <td>
                               
                                <a class="btn btn-danger" href="~/Materia/Eliminar/@oElemento.Matricula">Eliminar</a>
                            </td>
                        </tr>

                    }
                </tbody>
            </table>
        </div>
    </div>


</div>

